{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- about.html -->


{% block content %}
    <div class="about-container">
        <h1 class="about-title">Про нас</h1>
        <p class="about-description">
            Ми - команда професіоналів, які прагнуть надати найкращі послуги нашим клієнтам. Наша мета - забезпечити високу якість продукції та задоволення клієнтів у всіх наших проектах.
        </p>

        <h2 class="about-mission">Наша місія</h2>
        <p>
            Ми віримо, що кожен клієнт заслуговує на найкраще. Тому ми створюємо інноваційні рішення, щоб задовольнити ваші потреби.
        </p>

        <h2 class="about-team">Наша команда</h2>
        <p>
            Наша команда складається з досвідчених спеціалістів у різних сферах: розробка, дизайн, маркетинг та обслуговування клієнтів. Кожен з нас приносить свій унікальний досвід і бачення, щоб створити найкращі рішення для вас.
        </p>

        <h2 class="about-contact">Зв'яжіться з нами</h2>
        <p>
            Якщо у вас є запитання або ви хочете дізнатися більше про наші послуги, будь ласка, <a href="{% url 'contact' %}">зв'яжіться з нами</a>.
        </p>
    </div>
{% endblock %}

</body>
</html>